.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


table.user-data{
  width: 100%;
  margin-top: 20px;
  display: block !important;
}
.user-data thead, 
.user-data tbody{
  width: 100% !important;
  display: block;
}
.user-data tr{
  width: 100%;
  display: block;
  display:inline-table;
}
.user-data tr th, .user-data tr td {
  border-bottom: 1px solid black;
  /* border: 0px 0px 1px 0px solid #ddd; */
  padding: 5px 0px;
  text-align: center;
  width: 14%;
}
